body {
  font-family: var(--main-font), var(--font-fallback);
}
.section {
  padding: 60px 0px;
  @include desktop {
    padding: 94px 30px;
  }
}

// .section { DESKTOP
//   padding: 94px 30px;
// }
.container {
  width:100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
  
}

/*.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
} */
