body {
  font-family: var(--main-font), var(--font-fallback);
}
.section {
  padding: 60px 0px;
  @include desktop {
    padding: 94px 0px;
  }
}

.container {
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;
  @include tablet {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1200px;
  }
}
