body {
  font-family: var(--main-font), var(--font-fallback);
}
.section {
  padding: 60px 0px;
}
// .section { DESKTOP
//   padding: 94px 30px;
// }
.container {
  min-width: 320px;
  max-width: 768px;
  padding: 0 15px;
  margin: auto;
  
}

/*.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
} */
