.logo { 
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.192;
  color: var(--secondary-color);
  text-decoration: none;
  letter-spacing: 0.03em;
  display: flex;
  &__studio {
    color: var(--logo-color);
    &--white {
      color: var(--footer-second-color);
    }

  }
}







/*.logo { DESKTOP
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.192;
  color: var(--secondary-color);
  text-decoration: none;
  letter-spacing: 0.03em;
  display: flex;
  &__studio {
    color: var(--logo-color);
    &--white {
      color: var(--footer-second-color);
    }
  }
}
 */