.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop {
    align-items: normal;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    @include desktop {
      flex-direction: row;
    }
  }

  &__text {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: var(--footer-second-color);
    margin-bottom: 20px;
    margin-top: 13px;
  }

  &__input-email {
    width: 358px;
    height: 50px;
    border: 1px solid #ffffff4d;
    border-radius: 4px;
    background-color: var(--background-color);
    padding: 15px;
    color: #ffffff99;
    box-shadow: 0px 4px 4px 0px var(--first-button-shadow);
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    &:hover,
    &:focus {
      border-color: var(--secondary-color);
      transition: var(--standard-transition-duration) var(--standard-transition-flow) border-color;
    }
  }
  &__button {
    position: relative;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: var(--secondary-color);
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    text-align: left;
    padding-left: 42px;
    color: var(--footer-second-color);
    box-shadow: 0px 4px 4px 0px var(--first-button-shadow);
    cursor: pointer;
    transition: var(--standard-transition-duration) box-shadow var(--standard-transition-flow);
  }
  &__icon {
    position: absolute;
    top: 13px;
    right: 28px;
    fill: var(--footer-second-color);
  }
}
