.header {
  display: flex;
  padding: 24px 0 25px;
  border-bottom: 1px solid var(--border-color);

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 93px;
  }

  &__nav-list {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.142;
    letter-spacing: 0.02em;
    &--menu {
      display: flex;
      align-items: center;
      gap: 46px;
    }
    &--contacts {
      display: flex;
      gap: 50px;
      padding-left: 330px;
    }
  }
  &__icon {
    margin-right: 10px;
  }

  &__link {
    text-decoration: none;
    color: var(--brand-color);
    transition-property: color;
    transition-duration: var(--standard-transition-duration);
    transition-timing-function: var(--standard-transition-flow);
    position: relative;
    &:hover,
    &:focus {
      color: var(--secondary-color);
    }
    &--active {
      color: var(--secondary-color);
      &::after {
        content: '';
        position: absolute;
        display: block;
        top: 46px;
        width: 100%;
        height: 4px;
        background-color: var(--secondary-color);
        border-radius: 2px;
        transition-property: background-color;
        transition-duration: var(--standard-transition-duration);
        transition-timing-function: var(--standard-transition-flow);
      }
    }
    &--passive:hover::after,
    &--passive:focus::after {
      content: '';
      position: absolute;
      display: block;
      top: 46px;
      width: 100%;
      height: 4px;
      background-color: var(--secondary-color);
      border-radius: 2px;
      transition-property: background-color;
      transition-duration: var(--standard-transition-duration);
      transition-timing-function: var(--standard-transition-flow);
    }
    &-contacts {
      color: var(--third-color);
      text-decoration: none;
      fill: currentColor;
      transition-property: fill, color;
      transition-duration: var(--standard-transition-duration);
      transition-timing-function: var(--standard-transition-flow);
      &:hover,
      &:focus {
        color: var(--secondary-color);
        fill: var(--secondary-color);
      }
    }
  }
}
