.paragraph-section {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include desktop {
      flex-wrap: nowrap;
    }
  }
  &__header {
    font-size: 14px;
    line-height: 1.875;
    color: var(--brand-color);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
  }

  &__text {
    font-size: 14px;
    line-height: 1.714;
    color: var(--third-color);
    letter-spacing: 0.03em;
  }
  &__item {
    max-width: 352px;
  }
  &__icon {
    background-color: grey;
    text-align: center;
    padding: 25px 100px;
    border-radius: 4px;
    margin-top: 30px;
  }
}

// .paragraph-section {
//   display: flex;
//   justify-content: space-between;
//   gap: 30px;

//   &__header {
//     font-size: 14px;
//     line-height: 1.875;
//     color: var(--brand-color);
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     margin-top: 30px;
//   }

//   &__text {
//     font-size: 14px;
//     line-height: 1.714;
//     color: var(--third-color);
//     letter-spacing: 0.03em;
//     text-align: justify;
//   }
// }
