:root {
  --brand-color: #212121;
  --secondary-color: #2196f3;
  --third-color: #757575;
  --background-color: #2f303a;
  --footer-first-color: #ffffff99;
  --footer-second-color: #fff;
  --logo-color: #000;
  --button-filter-color: #f5f4fa;
  --border-color: #ececec;
  --border-second-color: #eeeeee;
  --background-second-color: #2f303a66;
  --icons-color: #afb1b8;
  --first-button-shadow: #00000026;
  --second-button-shadow: #00000033;
  --third-button-shadow: #00000024;
  --fourth-button-shadow: #0000001f;
  --fifth-button-shadow: #00000029;
  --sixth-button-shadow: #0000000f;
  --activities-overlay: #2f303acc;
  --main-font: 'Roboto';
  --font-fallback: sans-serif;
  --standard-transition-duration: 250ms;
  --standard-transition-flow: cubic-bezier(0.4, 0, 0.2, 1);
}
